<!DOCTYPE html>
<html>
<head>
<title>404 ERROR</title>
</head>
<body>

<h1>404 ERROR</h1>
<img src="/images/404.jpg"/>

<a href="/">Home</a>
<a href="/asdsa">404</a>
<a href="/about">about</a>

</body>
</html>