<!DOCTYPE html>
<html>
<head>
<title>About</title>
</head>
<body>

<h1><%= title%></h1>
<p>Lorem ipsom About</p>
<a href="/">Home</a>
<a href="/asdsa">404</a>
<a href="/about">about</a>
</body>
</html>