

body{
    font-family: "Raleway", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
  background-color: rgb(192, 205, 205) !important;
  }
a{
background-color: none !important;

  }
  a:hover{
    background-color: #fff !important;
    
      }
      .cont{
        max-width: 800px !important;
        border: solid 1px #ddd !important;
        border-radius: 10px !important;
      padding: 10px !important;
      margin-top: 30px;
      }

      #masonry-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 16px;
      }
    
      .card {
        break-inside: avoid;
      }